[data-md-color-scheme="default"] {
    --md-primary-fg-color:        #B94700;
    --md-primary-fg-color--light: #7B421F;
    --md-primary-fg-color--dark: #7B421F;
    --md-accent-fg-color:        #7B421F;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #B94700;
    --md-primary-fg-color--light: #7B421F;
    --md-primary-fg-color--dark: #7B421F;
    --md-accent-fg-color:        #FFFFFF;
}

div.md-content {
    text-align: justify;
}

div.md-header__topic {
    display: none;
}

.md-nav--primary .md-nav__title {
    font-size: 0; /* Set font size to 0 to hide text */
}
