[data-md-color-scheme="default"] {
    --md-primary-fg-color:        #B94700;
    --md-accent-fg-color:        #B94700;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #B94700;
    --md-accent-fg-color:        #FFFFFF;
}

div.md-content {
    text-align: justify;
}

div.md-header__topic {
    display: none;
}
